body {
    display: block;
    background-image: url("https://wallpapercave.com/wp/wp2919277.jpg");
}

#titulo {
    margin-top: 3%;
    text-align: center;
    width: 30%;
    font-size: 24px;
    color: white;
    margin-right: 35%;
    margin-left: 35%;
    position: relative;
}
#titulo a {
    font-size: 10vh;
    opacity: 100%;
    position: relative;
    z-index: 1;
}
#titulo #fondo {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    border-radius: 20px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}


#login {
    width: 20%;
    height: auto;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
    color: white;
}

#login .error_pass {
    margin: 0;
    color: red;
}

#login *{
    position: relative;
}
#login #fondo {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 60%;
    border-radius: 20px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
#login input {
    margin-top: 0px;
    margin-bottom: 10px;
}
#login h1 {
    padding-top: 5%;
    text-align: center;
}
#login #password {
    margin-bottom: 5%;
}
#login button {
    margin-bottom: 3%;
}
#login #register_button {
    padding-bottom: 5%;
}
#login button:hover,input:hover{
    background-color: rgba(49, 47, 48, 0.104);
}
#login #register_button:hover button {
    background-color: rgba(33, 29, 31, 0.104);
}